/**********************************************
*	print-pq.css
**********************************************/

#body-print { 
	width: 900px;
	margin: 0px auto;
	color: #5B5B5B;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#header-print {
	height: 80px;
	margin: 0px auto;
}

div#leftcol {
	display: none;
}

div#footer {
	display: none;
}
